<!DOCTYPE html>
<html>
  <head>
    <title><%= CommonLink::Application.display_name %></title>
    
    <%= stylesheet_link_tag 'application' %>
    <%= yield :styles %>
    
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
    
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <!-- Top Bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><%= CommonLink::Application.display_name %></a>

          <% if current_user %>
            <ul class="nav pull-right">
              <li><%= link_to('Logout', destroy_user_session_path) %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <!-- end Top Bar -->

    <div class="container" style="padding-top: 10px;">
      <% flash.each do |type, message| %>
        <div class="row">
          <div class="span12 well alert-message <%= type %>" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><%= message %></p>
          </div>
        </div>
        <% flash.delete(type) %>
      <% end %>
      
      <div class="container">
        <div class="row">
          <div class="span3 centered">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    
  </body>
  
</html>